.comment {
    margin: auto;
    width: 95%;
}

.comment-display {
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 10px;
}

.username {
    color: #009600;
}

.comment-display p {
    text-indent: 0;
}

input {
    padding: 10px;
    width: 975px;
    margin-bottom: 15px;
    background-color: #F5F5F5;
    border: 1px solid black;
    border-radius: 5px;
}

.submit-disable {
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
}

.submit {
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    color: white;
    background-color: #009600;
}